
<div class="container">
    <div class="row">
        <div class="col-sm-4 offset-2">
            <div class="event-form">
                <!--event form-->
            
                <h2>{{errormsg}}</h2>
                <form [formGroup]="" (ngSubmit)="">
                    <Span>Event Name :</Span>
                    <input type="text" name="eventName" formControlName="eventName" />
                    <Span>Event Name :</Span>
                    <input type="text" name="eventOrganiser" formControlName="eventOrganiser" />
                    <Span>Event Date and Time :</Span>
                    <mat-form-field>
                        <input matInput [ngxMatDatePicker]="picker" placeholder="Choose a date" [(ngModel)]="myDatePicker">
                        
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <input matInput [ngxMatTimePicker]="picker" placeholder="Choose time" [(ngModel)]="myTimePicker">
                        <mat-timepicker-toggle matSuffix [for]="picker"></mat-timepicker-toggle>
                    </mat-form-field>
                    
                    <Span>+End Time</Span>
                    <mat-form-field>
                        <input matInput [ngxMatTimePicker]="picker" placeholder="End time" [(ngModel)]="myTimePicker">
                        <mat-timepicker-toggle matSuffix [for]="picker"></mat-timepicker-toggle>
                    </mat-form-field>
                    
                    <!-- <ngx-mat-timepicker [(ngModel)]="myTimePicker">
                    </ngx-mat-timepicker> -->
                    
                    <button type="submit" class="btn">Cancel</button>
                    <button type="submit" class="btn btn-primary">Create</button>
                </form>
            </div>
            <!--/Event form-->
        </div>
    </div>
</div>